source "/workspace/esp/esp/esp-idf/components/efuse/Kconfig"
source "/workspace/esp/esp/esp-idf/components/esp_common/Kconfig"
source "/workspace/esp/esp/esp-idf/components/esp_hw_support/Kconfig"
source "/workspace/esp/esp/esp-idf/components/esp_rom/Kconfig"
source "/workspace/esp/esp/esp-idf/components/esp_security/Kconfig"
source "/workspace/esp/esp/esp-idf/components/esp_system/Kconfig"
source "/workspace/esp/esp/esp-idf/components/freertos/Kconfig"
source "/workspace/esp/esp/esp-idf/components/hal/Kconfig"
source "/workspace/esp/esp/esp-idf/components/log/Kconfig"
source "/workspace/esp/esp/esp-idf/components/newlib/Kconfig"
source "/workspace/esp/esp/esp-idf/components/soc/Kconfig"
source "/workspace/esp/esp/esp-idf/components/spi_flash/Kconfig"